In [30]:
import numpy as np
import pandas as pd
import openpyxl

In [31]:
df1 =pd.read_csv('Python Assignment - (Input) User IDs.csv')
df2 = pd.read_csv('Python Assignment - (Input) Rigorbuilder RAW.csv')
df2 = df2.iloc[:,[1,2,3,4]]
merge_df = pd.merge(df1,df2,on='name')
df = merge_df.groupby('Team Name').agg({"total_statements":"mean","total_reasons":"mean"}).reset_index()
df['result'] = df['total_statements'] + df['total_reasons']
df = df.sort_values(by=['result'],ascending=False)

In [32]:
del df['result']
Rank = np.arange(1,len(df)+1)
df.insert(loc=0,column='Team Rank',value = Rank)
mapping = {df.columns[1]:'Thinking Teams Leaderboard',df.columns[2]:'Average Statements',df.columns[3]:'Average Reasons'}
df= df.rename(columns=mapping)
df.index = np.arange(1,len(df)+1)
df['Average Statements'] = np.floor(df['Average Statements'] * 100)/100
df['Average Reasons'] = np.floor(df['Average Reasons'] * 100)/100
df.set_index('Team Rank',inplace=True)
df

          Thinking Teams Leaderboard  Average Statements  Average Reasons
Team Rank
1                Winning Culture Lab               12.66            16.00
2                           Tech Lab                9.00            10.00
3                             Mentor                7.33             7.66
4                Student Unicorn Lab                7.33             6.33
5                          Growpital                5.00             5.66
6                      BrandTech Lab                4.50             5.50
7                            Kringle                4.50             4.50
8                  Human Capital Lab                2.00             4.50

In [33]:
df.to_excel('Team Wise Leaderboard.xlsx')